<appconfig>
  <NDMS__DEFAULT__PATH__APP>C:\Users\Herkel\workspace\NDMS</NDMS__DEFAULT__PATH__APP>
  <NDMS__DEFAULT__PATH__APPCONFIG>appconfig.xml</NDMS__DEFAULT__PATH__APPCONFIG>
  <NDMS__DEFAULT__PATH__TEMPLATE__DIRECTORY>templates</NDMS__DEFAULT__PATH__TEMPLATE__DIRECTORY>
  <NDMS__DEFAULT__PATH__SNAPSHOT__DIRECTORY>snapshots</NDMS__DEFAULT__PATH__SNAPSHOT__DIRECTORY>
  <NDMS__DEFAULT__XML__FILE__EXTENSION>.xml</NDMS__DEFAULT__XML__FILE__EXTENSION>
  <NDMS__DEFAULT__TXT__FILE__EXTENSION>.txt</NDMS__DEFAULT__TXT__FILE__EXTENSION>
  <NDMS__DEFAULT__PATH__TEMPLATES/>
  <NDMS__DEFAULT__PATH__SNAPSHOTS/>
  <SNMP__SWNAME>.1.3.6.1.2.1.1.5</SNMP__SWNAME>
  <SNMP__BRIDGEIFDESCR>.1.3.6.1.2.1.2.2.1.2</SNMP__BRIDGEIFDESCR>
  <SNMP__BRIDGEIFSTATUS>.1.3.6.1.2.1.2.2.1.8</SNMP__BRIDGEIFSTATUS>
  <SNMP__DOT1DTPFDBADDRESS>.1.3.6.1.2.1.17.4.3.1.1</SNMP__DOT1DTPFDBADDRESS>
  <SNMP__DOT1DTPFDBPORT>.1.3.6.1.2.1.17.4.3.1.2</SNMP__DOT1DTPFDBPORT>
  <SNMP__VLANTRUNKPORTDYNAMICSTATUS>.1.3.6.1.4.1.9.9.46.1.6.1.1.14</SNMP__VLANTRUNKPORTDYNAMICSTATUS>
  <SNMP__CDPINTERFACEENABLE>.1.3.6.1.4.1.9.9.23.1.1.1.1.2</SNMP__CDPINTERFACEENABLE>
  <SNMP__CDPNEIGHBORPLATFORM>.1.3.6.1.4.1.9.9.23.1.2.1.1.8</SNMP__CDPNEIGHBORPLATFORM>
  <SNMP__ALLVLANINFORMATION>.1.3.6.1.4.1.9.9.46.1.3.1.1.2</SNMP__ALLVLANINFORMATION>
  <SNMP__DOT1DBASEPORTIFINDEX>.1.3.6.1.2.1.17.1.4.1.2</SNMP__DOT1DBASEPORTIFINDEX>
</appconfig>