<appconfig>
  <NDMS__DEFAULT__PATH__APP>C:\Users\Herkel\workspace\NDMS</NDMS__DEFAULT__PATH__APP>
  <NDMS__DEFAULT__PATH__APPCONFIG>appconfig.xml</NDMS__DEFAULT__PATH__APPCONFIG>
  <NDMS__DEFAULT__PATH__TEMPLATE__DIRECTORY>templates</NDMS__DEFAULT__PATH__TEMPLATE__DIRECTORY>
  <NDMS__DEFAULT__PATH__CONFIG__DIRECTORY>configs</NDMS__DEFAULT__PATH__CONFIG__DIRECTORY>
  <NDMS__DEFAULT__PATH__BACKUP__DIRECTORY>backup</NDMS__DEFAULT__PATH__BACKUP__DIRECTORY>
  <NDMS__DEFAULT__PATH__TEMPLATES/>
  <NDMS__DEFAULT__PATH__CONFIGS/>
</appconfig>